.transferencia-container {
  max-width: 400px;
  margin: 2rem auto;
  padding: 1.5rem;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 2px 2px 8px rgba(0,0,0,0.1);
  background-color: #fff;
}

.buttons-container {
  display: flex;
  gap: 10px; /* espaço entre os botões */
  margin-top: 16px;
}

.full-width {
  width: 100%;
  margin-bottom: 1rem;
}